@import 'scss/settings';

.fieldgroup {
  input {
    display: none;

    &:disabled {
      + label {
        background: $cyan-900;
        cursor: default;

        &:hover {
          padding-left: 20px;
        }

        &:after {
          display: none;
        }

        &:before {
          border-color: $grey-100;
        }
      }
    }

    &:checked {
      + label {
        background: $cyan-900;

        &:before {
          opacity: 1;
        }

        &:after {

        }
      }
    }
  }

  label {
    position: relative;
    display: flex;
    height: 48px;
    align-items: center;;
    margin-bottom: 1px;
    padding: 0 20px;
    background: $cyan-500;
    color: $grey-100;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
      padding-left: 25px;
    }

    &:before,
    &:after {
      content: " ";
      display: block;
      position: absolute;
      right: 16px;
      transition: all .3s linear;
    }

    &:before {
      right: 18px;
      top: 18px;
      transform: rotate(-45deg);
      z-index: 1;
      width: 20px;
      height: 8px;
      opacity: 0;
      border-bottom-left-radius: 3px;
      border-bottom: 2px $cyan-900 solid;
      border-left: 2px $cyan-900 solid;
    }

    &:after {
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
      width: 26px;
      height: 26px;
      border: 1px $grey-200 solid;
      background: $grey-100;
    }
  }
}