@import 'scss/settings';

.heading {
  margin: 52px 0 17px 0;

  @include bp($lg) {
    margin-top: 0;
  }
}

.form {
  padding: 20px;
  background: $grey-100;
  border: 1px $grey-200 solid;
}

.fieldset {
  margin-bottom: 27px;
  color: $cyan-900;
  font-family: $fontBody;
  font-size: rem(18);
  font-weight: 600;
  line-height: rem(25);

  &:nth-last-child(2) {
    margin-bottom: 20px;
  }

  .legend {
    margin-bottom: 15px;
  }

  .error {
    font-size: rem(11);
    line-height: rem(21);
    color: $red-900;
    display: none;

    &.active {
      display: block;
    }
  }
}

.submit {
  display: block;
  margin: 0 0 0 auto;
  width: 180px;
  height: 48px;
  border: none;
  outline: none;
  box-shadow: none;
  appearance: none;
  background: $blue-900;
  font-family: $fontBody;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: $grey-100;
  cursor: pointer;

  &:disabled {
    background: $grey-200;

    svg {
      fill: $grey-100;
    }
  }

  &:hover {
    svg {
      transform: translateX(5px);
    }
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: auto;
    fill: $orange-500;
    margin-left: 6px;
    transition: all .3s ease;
  }
}