@import 'scss/settings';

.app {
  padding: 32px 16px;
}

.columns {

  @include bp($lg) {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.column {
  @include bp($lg) {
    width: calc(50% - 50px);
    
    &:first-child {
      margin-right: 50px;
    }

    &:last-child {
      margin-left: 50px;
    }
  }
}

.heading {
  margin-bottom: rem(25);
}

.strong {
  display: inline-block;
  margin-bottom: rem(22);
  color: $cyan-900;
  font-weight: 400;

  span {
    font-weight: 700;
  }
}

.bulletlist {
  margin: 26px 0 0 0;
  padding: 0;
  
  li {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0 rem(16) 0;
    padding: 0 0 0 100px;
    min-height: 68px;
    color: $cyan-900;
  }
}

.bullet {
  position: absolute;
  display: block;
  left: 0;
  width: 68px;
  height: 68px;
  margin-right: 30px;
  border-radius: 50%;
  background: $grey-100;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, .12);

  &.four {
    padding-top: 26px;
    color: $cyan-900;
    text-align: center;
    font-family: $fontHeadings;
    font-size: rem(40);
    font-style: normal;
    font-weight: 700;
    line-height: rem(26);
  }

  &.pointer {
    text-align: center;
    padding-top: 14px;

    svg {
      display: inline-block;
      width: rem(40);
  
      path {
        stroke: $cyan-900;
      }
    }
  
  }

}