@import 'scss/settings';

html, body {
  color: $grey-900;
  font-family: $fontBody;
  font-weight: 400;
  font-size: rem(16);
  line-height: rem(26);
}

h2 {
  color: $blue-900;
  font-family: $fontHeadings;
  font-weight: 400;
  font-size: rem(34);
  line-height: rem(46);
}

h3 {
  color: $cyan-900;
  font-family: $fontHeadings;
  font-weight: 700;
  font-size: rem(22);
  line-height: rem(32); // design is 31.9px, rounded it up
}