// - - - - - - - - - - - - - - - - -
// fonts
// - - - - - - - - - - - - - - - - -

$fontBody: 'Open Sans', sans-serif;
$fontHeadings: 'Varta', sans-serif;

// - - - - - - - - - - - - - - - - -
// media queries
// - - - - - - - - - - - - - - - - -

$xs: 375px;
$sm: 414px;
$smd: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1366px;
$xxl: 1616px;
$max: 1920px;

// - - - - - - - - - - - - - - - - -
// colors
// - - - - - - - - - - - - - - - - -

$white: #fff;
$black: #000000;

$cyan-500: #7CD2D8;
$cyan-900: #1BACB7;

$grey-100: #F8F8F8;
$grey-200: #DBDBDB;
$grey-900: #2D2D2D;

$blue-900: #043A58;
$orange-500: #FBCD7A;
$red-900: #8b0000;